form {
    width: 850px;
    margin: auto 20rem auto 25rem;
    background-color: #7b0000;
}

legend {
    color: white;
    font: 1rem verdana;
    font-weight: bold;
    text-shadow: 5px 5px 5px red;
}

p {
    color: white;
    font: 1rem verdana;
    font-weight: bolder;
    text-shadow: none;
}



fieldset #sexo {
    width: 250px;
    font: 1.3rem verdana;
}

input.btn {
    background-color: white;
    color: black;
    padding: 7px;
    margin: 5px;
    font: 1.3rem verdana;
    border: none;
}

input.btn:hover {
    background-color: red;
    color: white;
}
